<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> Demo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
	<div class='container'>
		<ul id='station-list'></ul>
		<% for(var i=0, len = stations.length; i<len; i++) {%>
   			<li><%= supplies[i] %></li>
		<% } %>
	</div>
  </body>
</html>
