<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> Demo</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <nav>
    <h1>DivvyDowner</h1>
  </nav>

	<div class='container'>
    <h2>Nearby Stations</h2>
    <div class='list'>
  		<ul id='station-list'></ul>
	</div>
  </body>
</html>
